.container {
  width: 30% !important;
  padding-bottom: 15px;
}

.btn-primary {
  background-color: #652D90;
  color: white;
  border-radius: 6px;
  border-width: 0ch;
  padding: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.prueba {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #652D90;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .prueba {
    display: flex;
    flex-direction: column;
  }
}

.imageRueda {
  cursor: pointer;
}

.imageRueda:hover {
  color: blue;
}